* {
	margin: 0;
	padding: 0;
}
.wrap{
	margin: 20px auto;
	width: 310px;
}
#btn{
	color: #fff;
	border: none;
	background: #009A61;
	padding: 10px;
	border-radius: 5px;
	width: 100px;
	margin: 20px auto;
	display: block;
}
.wrap p {
	margin-top: 10px;
}
#dialog {
	height: 130px;
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -65px 0 0 -100px;
	z-index: 9999;
	background: #fff;
	border: 1px solid #ccc;
}
.dialog-header{
	height: 20px;
	line-height: 20px;
	padding: 5px;
	background-color: #eee;
	border-bottom: 1px solid #e5e5e5;
	cursor:move;
}
.dialog-body{
	height: 50px;
	padding: 10px;
}
.dialog-footer{
	height: 20px;
	border-top: 1px solid #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}
.dialog-footer .btn{
	width: 50px;
	padding: 5px 0;
	margin: 10px;
	border: none;
	background: #009A61;
	border-radius: 5px;
}
#mask{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 99;
}
