#wrap{
	width: 400px;
	height: 300px;
	margin: 0 auto;
}

.type{
	display: inline-block;
	margin: 20px 50px;
}
.select label{
	margin-right: 20px;
}
.select select{
	width: 150px;
	height: 25px;
	line-height: 30px;
}
.select input{
	width: 200px;
}
#company{
	display: none;
}
