
*{
  margin: 0;
  padding: 0;
  font: 12px/1 Microsoft YaHei,Tahoma,Helvetica,Arial,\\5B8B\4F53,sans-serif;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.header {
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #ee7419;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 20px;
  color: #fff;
}
h1:before {
  content: '?';
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  color: #ee7419;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  margin-left: 50px;
}
h2 {
  font-size: 16px;
  width: 100px;
  height: 100%;
}
.main {
  width: 75%;
  margin: 70px auto;
  padding: 20px 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  background: #fff;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
}


.addQn[data-v-514da93a] {
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
#addQn[data-v-514da93a] {
  height: 40px;
  width: 100px;
  background: #ee7419;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
#addQn span[data-v-514da93a]:before {
  content: "+";
  color: #fff;
  padding: 5px 10px;
}
table[data-v-514da93a] {
  width: 100%;
  border-collapse: collapse;
}
tbody tr[data-v-514da93a] {
  border-bottom: 1px solid #ccc;
}
thead tr th[data-v-514da93a]{
  font-size: 18px;
}
tbody tr[data-v-514da93a] {
  height: 40px;
}
tbody tr[data-v-514da93a]:hover {
  background: #fef1e8;
}
tbody tr td[data-v-514da93a] {
  font-size: 14px;
}
tbody tr td span[data-v-514da93a] {
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #ccc;
  margin-left: 5px;
  cursor: pointer;
}
#newQn[data-v-514da93a] {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  background: #ee7419;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.released[data-v-514da93a] {
  color: #5cb85c;
}

.dialog-mask[data-v-2e34746c] {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}
.dialog-wrapper[data-v-2e34746c] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 100px;
  box-shadow:0 0.05em 0.25em rgba(0,0,0,.5);
}
.dialog-content[data-v-2e34746c] {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  height: 100%;
}
.dialog-header[data-v-2e34746c] {
  padding: 8px;
  background: #ccc;
}
.dialog-header h3[data-v-2e34746c]{
  font-size: 18px;
  font-weight: 700px;
}
.dialog-body[data-v-2e34746c] {
  padding: 20px;
}
.dialog-footer .dialog-btn[data-v-2e34746c]{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  margin: 5px;
}
.dialog-footer .dialog-btn[data-v-2e34746c]:hover{
  background-color: #ee7419;
}
.dialog-enter[data-v-2e34746c] {
  opacity: 0;
}
.dialog-leave-active[data-v-2e34746c] {
  opacity: 0;
}
.dialog-enter .dialog-container[data-v-2e34746c],
.dialog-leave-active .dialog-container[data-v-2e34746c] {
  transform: scale(1.1);
}

  

#edit[data-v-4d6d65c5] {
	padding: 10px 0;
  width: 100%;
  position: relative;
}
.title[data-v-4d6d65c5] {
  width: 97%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 45px;
}
.title input[data-v-4d6d65c5] {
  width: 100%;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 20px;
}
.title:hover input[data-v-4d6d65c5]{
  background-color: #fef1e8;
}
hr[data-v-4d6d65c5] {
  height: 1px;
  border: none;
  border-top: 2px solid #ccc;
  width: 98%;
  margin: 5px auto;
}
.questions[data-v-4d6d65c5] {
  width: 90%;
  margin: 10px auto;
  padding: 5px 10px;
}
.questions .question[data-v-4d6d65c5] {
  padding: 10px 15px;
}
.questions .question[data-v-4d6d65c5]:hover {
  background-color: #fef1e8;
}
.questions .question:hover textarea[data-v-4d6d65c5] {
  background-color: #fef1e8;
}
.questions .question:hover .q-title input[data-v-4d6d65c5] {
  font-weight: 700;
}
.questions .question:hover .q-operation[data-v-4d6d65c5] {
  opacity: 1;
}
.questions .question:hover input[data-v-4d6d65c5] {
  background-color: #fef1e8;
}
.questions .question:hover .q-option span[data-v-4d6d65c5] {
  border: 1px solid #fef1e8;
}
.questions .question .q-title[data-v-4d6d65c5] {
  text-align: left;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align:center;
      align-items:center;
}
.questions .question .q-title span[data-v-4d6d65c5] {
  display: inline-block; 
  -ms-flex: none; 
      flex: none;
  width: 25px;
  font-size: 16px;
}
.questions .question .q-title input[data-v-4d6d65c5] {
  -ms-flex: 1;
      flex: 1;
  border: none;
  font-size: 16px;
}
.questions .question .q-content[data-v-4d6d65c5] {
  margin-top: 5px;
}
.questions .question .q-option[data-v-4d6d65c5] {
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align:center;
      align-items:center;
  padding-left: 20px;
}
.questions .question .q-option input[data-v-4d6d65c5] {
  -ms-flex: none;
      flex: none;
}
.questions .question .q-option span[data-v-4d6d65c5] {
  margin-left: 5px;
  margin-top: 3px;
  font-size: 16px;
  padding: 2px 8px 2px 5px;
  display: inline-block;
  border: 1px solid #fff;
  text-align: left;
}
.questions .question .q-option span[data-v-4d6d65c5]:focus {
  border: 1px solid #BBFFEE;
}
.questions .question .q-option .q-option-del[data-v-4d6d65c5] {
  cursor: pointer;
  opacity: 0;
}
.questions .question .q-option:hover .q-option-del[data-v-4d6d65c5] {
  opacity: 1;
}
.questions .question .add-option[data-v-4d6d65c5] {
  height: 20px;
  line-height: 20px;
  border: 1px dashed #000;
  cursor: pointer;
  opacity: 0;
  margin: 10px 0 10px 20px;
  vertical-align: middle;
}
.questions .question .add-option[data-v-4d6d65c5]:hover {
  opacity: 1;
}
.questions .question .q-operation[data-v-4d6d65c5] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:end;
      justify-content:flex-end;
  padding-right: 10px;
  opacity: 0;
}
.questions .question .q-operation div[data-v-4d6d65c5] {
  margin-right: 10px;
  cursor: pointer;
}
.questions .question .q-operation div span[data-v-4d6d65c5] {
  font-size: 14px;
}
.add-qn[data-v-4d6d65c5] {
  padding: 5px;
}
.add-qn .type-qn[data-v-4d6d65c5] {
  border: 1px solid #ccc;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.add-qn .type-qn button[data-v-4d6d65c5] {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.add-qn .btn-qn[data-v-4d6d65c5]{
  height: 80px;
  line-height: 80px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.add-qn .btn-qn span[data-v-4d6d65c5]:before {
  content: '+';
  padding: 5px;
}
.type-enter-active[data-v-4d6d65c5] {
  transition: all .3s ease;
}
.type-enter[data-v-4d6d65c5], .type-leave-active[data-v-4d6d65c5] {
  transform: translateY(10px);
  opacity: 0;
}
.type-text-input[data-v-4d6d65c5] {
  width: 90%;
  height: 80px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.type-text-input[data-v-4d6d65c5]:hover {
  background-color: #fef1e8;
}
.type-text-isRequired[data-v-4d6d65c5] {
  text-align: left;
  margin: 5px 0 10px 23px;
}
.footer[data-v-4d6d65c5] {
  padding: 5px;
}
.footer input[data-v-4d6d65c5]{
  width: 80px;
  height: 30px;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  font-size: 16px;
  color: inherit;
}
.footer input[data-v-4d6d65c5]:hover {
  background-color: #ee7419;
  color: #fff;
}
.clearfix[data-v-4d6d65c5]:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clearfix[data-v-4d6d65c5] {
  *+height: 1%;
}
.expdate[data-v-4d6d65c5] {
  float: left;
  padding: 0 10px;
}
.expdate span[data-v-4d6d65c5] {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 100px;
  font-size: 16px;
  color: #888;
  margin-right: 10px;
}
.expdate div[data-v-4d6d65c5] {
  float: right;
}

#calendar {
  position: relative;
}
.date-panel {
  position: absolute;
  width: 280px;
  height: 220px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 999;
  top: -235px;
  left: 50px;
}
.type-year {
  width: 100%;
}
.date-panel ul {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: start;
  list-style: none;
}
.date-panel ul li {
  width: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.panel-header {
  height: 40px;
  line-height: 40px;
}
.input {
  height: 30px;
  line-height: 30px;
  width: 100px;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
}
.prev {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.next {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #222;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
.year, .month {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 18px;
}
.year {
  padding: 0 5px 0 10px;
}
,
.month {
  padding: 0 10px 0 5px;
}
.type-month ul li ,.type-year ul li{
  width: 70px;
  height: 60px;
  line-height: 56px;
  font-size: 18px;
}
.type-month ul li:hover, .type-year ul li:hover{
  background-color: #ee7419;
  border-radius: 5px;
}
.type-date ul li {
  width: 40px;
  height: 26px;
  line-height: 28px;
  font-size: 16px;
}
.type-date date-list li:hover {
  background-color: #ee7419;
  border-radius: 5px;
}
.preMonth, .nextMonth {
  color: #ccc;
}
.selected {
  background-color: #ee7419;
  border-radius: 5px;
}
.toggle-enter, .toggle-leave-active{
  opacity: 0;
  transform: translateY(-10px);
}
.toggle-enter-active, .toggle-leave-active{
  transition: all ease .2s;
}
#mask {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  z-index: 10;
}

  

#fill[data-v-249f9f6c] {
	padding: 10px 0;
  width: 100%;
  position: relative;
}
.title[data-v-249f9f6c] {
  width: 97%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 45px;
}
.title span[data-v-249f9f6c] {
  width: 100%;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 20px;
}
.title:hover input[data-v-249f9f6c]{
  background-color: #fef1e8;
}
hr[data-v-249f9f6c] {
  height: 1px;
  border: none;
  border-top: 2px solid #ccc;
  width: 98%;
  margin: 5px auto;
}
.questions[data-v-249f9f6c] {
  width: 90%;
  margin: 10px auto;
  padding: 5px 10px;
}
.questions .question[data-v-249f9f6c] {
  padding: 10px 15px;
}
.questions .question[data-v-249f9f6c]:hover {
  background-color: #fef1e8;
}
.questions .question:hover textarea[data-v-249f9f6c] {
  background-color: #fef1e8;
}
.questions .question:hover .q-title span[data-v-249f9f6c] {
  font-weight: 700;
}
.questions .question:hover input[data-v-249f9f6c] {
  background-color: #fef1e8;
}
/*
.questions .question:hover .q-option span {
  border: 1px solid #fef1e8;
} */
.questions .question .q-title[data-v-249f9f6c] {
  text-align: left;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align:center;
      align-items:center;
}
.questions .question .q-title span[data-v-249f9f6c] {
  font-size: 16px;
}
.questions .question .q-title input[data-v-249f9f6c] {
  -ms-flex: 1;
      flex: 1;
  border: none;
  font-size: 16px;
}
.questions .question .q-content[data-v-249f9f6c] {
  margin-top: 5px;
}
.questions .question .q-option[data-v-249f9f6c] {
  text-align: left;
  padding-left: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
}
.type-enter-active[data-v-249f9f6c] {
  transition: all .3s ease;
}
.type-leave-active[data-v-249f9f6c] {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.type-enter[data-v-249f9f6c], .type-leave-active[data-v-249f9f6c] {
  transform: translateY(10px);
  opacity: 0;
}
.type-text-input[data-v-249f9f6c] {
  width: 90%;
  height: 80px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.type-text-input[data-v-249f9f6c]:hover {
  background-color: #fef1e8;
}
.type-text-isRequired[data-v-249f9f6c] {
  text-align: left;
  text-indent: 1em;
  margin: 5px 0 10px 23px;
}
.footer[data-v-249f9f6c] {
  padding: 5px;
}
.footer input[data-v-249f9f6c]{
  width: 80px;
  height: 30px;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  font-size: 16px;
  color: inherit;
}
.footer input[data-v-249f9f6c]:hover {
  background-color: #ee7419;
  color: #fff;
}
.clearfix[data-v-249f9f6c]:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clearfix[data-v-249f9f6c] {
  *+height: 1%;
}
.type-enter-active[data-v-249f9f6c], .type-leave-active[data-v-249f9f6c] {
  transition: all 1s ease-in;
}
.type-enter[data-v-249f9f6c], .type-leave[data-v-249f9f6c] {
  transition: all 10s linear;
}

#data[data-v-5536f32a]{
  padding: 10px 0;
  width: 100%;
  position: relative;
}
.title[data-v-5536f32a] {
  width: 97%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 45px;
}
.title span[data-v-5536f32a] {
  width: 100%;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 20px;
}
hr[data-v-5536f32a] {
  height: 1px;
  border: none;
  border-top: 2px solid #ccc;
  width: 98%;
  margin: 5px auto;
}
.questions[data-v-5536f32a] {
  width: 90%;
  margin: 10px auto;
  padding: 5px 10px;
}
.question-content[data-v-5536f32a] {
  border: 1px solid #ccc;
  margin-top: 10px;
}
.questions .question[data-v-5536f32a] {
  padding: 10px 15px;
  float: left;
}
.static[data-v-5536f32a] {
  float: right;
  right: 20px;
}
.questions .question .q-title[data-v-5536f32a] {
  text-align: left;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align:center;
      align-items:center;
}
.questions .question .q-title span[data-v-5536f32a] {
  font-size: 16px;
  font-weight: 700;
}
.questions .question .q-content[data-v-5536f32a] {
  margin-top: 5px;
}
.questions .question .q-option[data-v-5536f32a] {
  text-align: left;
  padding-left: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
}
.footer[data-v-5536f32a] {
  padding: 5px;
}
.footer input[data-v-5536f32a]{
  width: 80px;
  height: 30px;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0.05em 0.25em rgba(0,0,0,.5);
  cursor: pointer;
  background-color: #fff;
  display: inline-block;
  font-size: 16px;
  color: inherit;
}
.clearfix[data-v-5536f32a]:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.clearfix[data-v-5536f32a] {
  *+height: 1%;
}

/*# sourceMappingURL=app.1c0294335ac176228475d6b7aa29db7e.css.map*/